@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

body {
  font-family: 'Roboto Slab', sans-serif;
  max-height: 100%;
  margin-top:15%;
  background-color:#A6CFE2;
  color:black;
}

.container {
  animation-name: fadeIn;
  animation-duration: 3s;
}

hr {
  border-top:1px solid black;
  opacity:0.2;
}

#result {
  font-size: 20px;
  font-weight:300;
  animation-name: fadeIn;
  animation-duration: 3s;
}

#loading {
  display: block;
  margin: 0 auto;
  width:50px;
}

.hide {
  visibility: hidden;
}

@keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
}
